[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prosodic = {file = "https://github.com/darpa-press/prosodic/archive/master.zip"}

[dev-packages]

[requires]
python_version = "3.9"
